<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td>
				<table class="button" border="0" cellspacing="0" cellpadding="0" align="{{#if align}}{{align}}{{else}}center{{/if}}" {{#if width}}width="{{width}}"{{/if}}>
					<tbody>
						<tr>
							<td align="center" style="border-radius: 3px;" bgcolor="{{#if bgcolor}}{{bgcolor}}{{else}}#e04125{{/if}}"><a href="{{url}}" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif, 'Source Sans Pro'; color: {{#if textcolor}}{{textcolor}}{{else}}#ffffff{{/if}}; text-decoration: none; border-radius: 3px; padding: 12px 18px; border: 1px solid {{#if bgcolor}}{{bgcolor}}{{else}}#e04125{{/if}}; display: inline-block;" title="{{text}}"><b>{{text}}</b></a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>